body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:687px;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:687px;
}
#u614 {
  position:absolute;
  left:2px;
  top:336px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:267px;
}
#u615 {
  position:absolute;
  left:0px;
  top:810px;
  width:1279px;
  height:267px;
}
#u616 {
  position:absolute;
  left:2px;
  top:126px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:123px;
  background:inherit;
  background-color:rgba(235, 236, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  position:absolute;
  left:0px;
  top:687px;
  width:1270px;
  height:123px;
}
#u618 {
  position:absolute;
  left:2px;
  top:54px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:30px;
  top:687px;
  width:1205px;
  height:123px;
}
#u620 {
  position:absolute;
  left:2px;
  top:54px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u621 {
  position:absolute;
  left:60px;
  top:697px;
  width:1140px;
  height:1px;
}
#u622 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u623 {
  position:absolute;
  left:60px;
  top:708px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u625 {
  position:absolute;
  left:60px;
  top:740px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u627 {
  position:absolute;
  left:460px;
  top:740px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u629 {
  position:absolute;
  left:60px;
  top:766px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u631 {
  position:absolute;
  left:150px;
  top:740px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u633 {
  position:absolute;
  left:560px;
  top:740px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u635 {
  position:absolute;
  left:150px;
  top:766px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u637 {
  position:absolute;
  left:57px;
  top:800px;
  width:1140px;
  height:1px;
}
#u638 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u639 {
  position:absolute;
  left:650px;
  top:708px;
  width:340px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u640 {
  position:absolute;
  left:10px;
  top:8px;
  width:320px;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:86px;
}
#u641 {
  position:absolute;
  left:57px;
  top:704px;
  width:563px;
  height:86px;
}
#u642 {
  position:absolute;
  left:2px;
  top:35px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u643 {
  position:absolute;
  left:57px;
  top:174px;
  width:73px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:57px;
  top:212px;
  width:563px;
  height:128px;
}
#u646 {
  position:absolute;
  left:2px;
  top:56px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u647 {
  position:absolute;
  left:55px;
  top:246px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#282828;
}
#u649 {
  position:absolute;
  left:55px;
  top:273px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#282828;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u651 {
  position:absolute;
  left:164px;
  top:273px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#7B8197;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#282828;
}
#u653 {
  position:absolute;
  left:55px;
  top:299px;
  width:78px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#282828;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u655 {
  position:absolute;
  left:164px;
  top:299px;
  width:109px;
  height:12px;
  font-size:11px;
  color:#7B8197;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#282828;
}
#u657 {
  position:absolute;
  left:55px;
  top:325px;
  width:56px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#282828;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u659 {
  position:absolute;
  left:164px;
  top:325px;
  width:151px;
  height:16px;
  font-size:11px;
  color:#7B8197;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#282828;
}
#u661 {
  position:absolute;
  left:381px;
  top:273px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#282828;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u663 {
  position:absolute;
  left:490px;
  top:273px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#7B8197;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#282828;
}
#u665 {
  position:absolute;
  left:381px;
  top:299px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#282828;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u667 {
  position:absolute;
  left:490px;
  top:299px;
  width:67px;
  height:12px;
  font-size:11px;
  color:#7B8197;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#282828;
}
#u669 {
  position:absolute;
  left:57px;
  top:201px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#282828;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u671 {
  position:absolute;
  left:166px;
  top:201px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#7B8197;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#282828;
}
#u673 {
  position:absolute;
  left:381px;
  top:201px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#282828;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u675 {
  position:absolute;
  left:490px;
  top:201px;
  width:67px;
  height:12px;
  font-size:11px;
  color:#7B8197;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#282828;
}
#u677 {
  position:absolute;
  left:57px;
  top:226px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#282828;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7B8197;
}
#u679 {
  position:absolute;
  left:166px;
  top:226px;
  width:108px;
  height:12px;
  font-size:11px;
  color:#7B8197;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:80px;
}
#u681 {
  position:absolute;
  left:50px;
  top:169px;
  width:580px;
  height:80px;
}
#u682 {
  position:absolute;
  left:2px;
  top:32px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u683 {
  position:absolute;
  left:630px;
  top:181px;
  width:340px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u684 {
  position:absolute;
  left:10px;
  top:8px;
  width:320px;
  word-wrap:break-word;
}
