body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:763px;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:763px;
}
#u3937 {
  position:absolute;
  left:2px;
  top:374px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:1071px;
  height:25px;
}
#u3938 {
  position:absolute;
  left:210px;
  top:153px;
  width:1059px;
  height:5px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:135px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u3940 {
  position:absolute;
  left:1279px;
  top:153px;
  width:404px;
  height:135px;
  color:#FFFFFF;
}
#u3941 {
  position:absolute;
  left:10px;
  top:10px;
  width:384px;
  word-wrap:break-word;
}
