body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1729px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:735px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:735px;
}
#u87 {
  position:absolute;
  left:2px;
  top:360px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:111px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:560px;
  top:29px;
  width:650px;
  height:111px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:10px;
  top:10px;
  width:630px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u90 {
  position:absolute;
  left:240px;
  top:235px;
  width:250px;
  height:25px;
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:500px;
  top:230px;
  width:457px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:10px;
  top:6px;
  width:437px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
}
#u94 {
  position:absolute;
  left:950px;
  top:165px;
  width:140px;
  height:25px;
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:130px;
}
#u96 {
  position:absolute;
  left:490px;
  top:280px;
  width:50px;
  height:130px;
}
#u97 {
  position:absolute;
  left:2px;
  top:57px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u98 {
  position:absolute;
  left:390px;
  top:200px;
  width:50px;
  height:21px;
  font-size:11px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:224px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:1278px;
  top:2px;
  width:451px;
  height:224px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:902px;
  top:281px;
  width:6px;
  height:10px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:905px;
  top:281px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  position:absolute;
  left:-4px;
  top:-15px;
  width:8px;
  height:15px;
}
#u104_seg1 {
  position:absolute;
  left:-4px;
  top:-15px;
  width:379px;
  height:8px;
}
#u104_seg2 {
  position:absolute;
  left:362px;
  top:-21px;
  width:20px;
  height:20px;
}
#u105 {
  position:absolute;
  left:132px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:440px;
  top:211px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:824px;
  height:8px;
}
#u106_seg1 {
  position:absolute;
  left:816px;
  top:-101px;
  width:8px;
  height:105px;
}
#u106_seg2 {
  position:absolute;
  left:816px;
  top:-101px;
  width:22px;
  height:8px;
}
#u106_seg3 {
  position:absolute;
  left:825px;
  top:-107px;
  width:20px;
  height:20px;
}
#u107 {
  position:absolute;
  left:418px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:224px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:1278px;
  top:262px;
  width:451px;
  height:224px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1020px;
  top:165px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:-4px;
  top:-35px;
  width:8px;
  height:39px;
}
#u110_seg1 {
  position:absolute;
  left:-10px;
  top:-42px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:-50px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
