body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:764px;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:764px;
}
#u6004 {
  position:absolute;
  left:2px;
  top:374px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6005 {
  position:absolute;
  left:150px;
  top:1080px;
  width:140px;
  height:40px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:567px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6007 {
  position:absolute;
  left:920px;
  top:571px;
  width:680px;
  height:567px;
}
#u6008 {
  position:absolute;
  left:10px;
  top:10px;
  width:660px;
  word-wrap:break-word;
}
#u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6009 {
  position:absolute;
  left:150px;
  top:460px;
  width:300px;
  height:170px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6013 {
  position:absolute;
  left:250px;
  top:460px;
  width:140px;
  height:60px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6015 {
  position:absolute;
  left:160px;
  top:473px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6017 {
  position:absolute;
  left:161px;
  top:507px;
  width:89px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6019 {
  position:absolute;
  left:160px;
  top:535px;
  width:67px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6020 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6021 {
  position:absolute;
  left:260px;
  top:506px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6022 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6021_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6023 {
  position:absolute;
  left:370px;
  top:506px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6024 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6023_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6025 {
  position:absolute;
  left:260px;
  top:535px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6026 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6025_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6027 {
  position:absolute;
  left:370px;
  top:535px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6028 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6027_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:479px;
}
#u6029 {
  position:absolute;
  left:150px;
  top:571px;
  width:740px;
  height:479px;
}
#u6030 {
  position:absolute;
  left:2px;
  top:232px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6032 {
  position:absolute;
  left:160px;
  top:574px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6034 {
  position:absolute;
  left:160px;
  top:759px;
  width:89px;
  height:16px;
  font-size:11px;
}
#u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6036 {
  position:absolute;
  left:265px;
  top:759px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6037 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6038 {
  position:absolute;
  left:329px;
  top:759px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6039 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6038_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6040 {
  position:absolute;
  left:230px;
  top:858px;
  width:580px;
  height:26px;
}
#u6040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6041 {
  position:absolute;
  left:160px;
  top:863px;
  width:56px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6042 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6043 {
  position:absolute;
  left:230px;
  top:894px;
  width:580px;
  height:26px;
}
#u6043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6044 {
  position:absolute;
  left:160px;
  top:899px;
  width:56px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6045 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6046 {
  position:absolute;
  left:230px;
  top:930px;
  width:580px;
  height:26px;
}
#u6046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6047 {
  position:absolute;
  left:160px;
  top:935px;
  width:56px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6049 {
  position:absolute;
  left:230px;
  top:822px;
  width:580px;
  height:26px;
}
#u6049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6050 {
  position:absolute;
  left:160px;
  top:827px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6051 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u6052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6052 {
  position:absolute;
  left:160px;
  top:795px;
  width:229px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6053 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u6054 {
  position:absolute;
  left:265px;
  top:655px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6055 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6054_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6056 {
  position:absolute;
  left:265px;
  top:629px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6057 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6056_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6058 {
  position:absolute;
  left:160px;
  top:629px;
  width:56px;
  height:16px;
  font-size:11px;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6060 {
  position:absolute;
  left:160px;
  top:603px;
  width:67px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6061 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6062 {
  position:absolute;
  left:265px;
  top:603px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6063 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6062_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6064 {
  position:absolute;
  left:329px;
  top:603px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6065 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6064_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6066 {
  position:absolute;
  left:329px;
  top:629px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6067 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6066_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6068 {
  position:absolute;
  left:329px;
  top:655px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6069 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6068_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6070 {
  position:absolute;
  left:329px;
  top:681px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6071 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6070_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6072 {
  position:absolute;
  left:265px;
  top:681px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6073 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6072_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6074 {
  position:absolute;
  left:160px;
  top:655px;
  width:67px;
  height:16px;
  font-size:11px;
}
#u6075 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6076 {
  position:absolute;
  left:160px;
  top:681px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u6077 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u6078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6078 {
  position:absolute;
  left:160px;
  top:707px;
  width:95px;
  height:16px;
  font-size:11px;
}
#u6079 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u6080 {
  position:absolute;
  left:265px;
  top:707px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6081 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6080_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6082 {
  position:absolute;
  left:329px;
  top:707px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6083 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6082_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6084 {
  position:absolute;
  left:329px;
  top:733px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6085 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6084_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6086 {
  position:absolute;
  left:265px;
  top:733px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6087 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6086_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6088 {
  position:absolute;
  left:160px;
  top:733px;
  width:67px;
  height:16px;
  font-size:11px;
}
#u6089 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6091 {
  position:absolute;
  left:250px;
  top:975px;
  width:140px;
  height:47px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6093 {
  position:absolute;
  left:160px;
  top:975px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6094 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6095 {
  position:absolute;
  left:161px;
  top:1009px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6096 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u6097 {
  position:absolute;
  left:265px;
  top:1009px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6098 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6099 {
  position:absolute;
  left:329px;
  top:1009px;
  width:100px;
  height:16px;
  font-size:11px;
}
#u6100 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
